<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanke.dao.SeatMapper" >
  <resultMap id="BaseResultMap" type="com.kanke.pojo.Seat" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="hall_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="column" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="row" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, hall_id, column, row, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from seat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kanke.pojo.Seat" >
    insert into seat (id, hall_id, column, 
      row, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{hallId,jdbcType=INTEGER}, #{column,jdbcType=INTEGER}, 
      #{row,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.kanke.pojo.Seat" >
    insert into seat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hallId != null" >
        hall_id,
      </if>
      <if test="column != null" >
        column,
      </if>
      <if test="row != null" >
        row,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hallId != null" >
        #{hallId,jdbcType=INTEGER},
      </if>
      <if test="column != null" >
        #{column,jdbcType=INTEGER},
      </if>
      <if test="row != null" >
        #{row,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kanke.pojo.Seat" >
    update seat
    <set >
      <if test="hallId != null" >
        hall_id = #{hallId,jdbcType=INTEGER},
      </if>
      <if test="column != null" >
        column = #{column,jdbcType=INTEGER},
      </if>
      <if test="row != null" >
        row = #{row,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kanke.pojo.Seat" >
    update seat
    set hall_id = #{hallId,jdbcType=INTEGER},
      column = #{column,jdbcType=INTEGER},
      row = #{row,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>